* {
  margin: 0;
  padding: 0;
}
.app-sidebar {
  margin: 0;
  width: 12vw;
  background-color: #CBE4DE;
  height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.app-sidebar-note-add {
  color: rgb(105, 105, 105);
  transition: 0.3s;
}

.app-sidebar-note-add:hover {
  background-color: #9bcdc2;
  border-radius: 3px;
  cursor: pointer;
}

textarea, h1, h2, .app-sidebar-note-add  {
  font-family: 'Roboto', sans-serif;
}

.app-sidebar h2 {
  text-align: center;
  font-weight: 100;
  margin-top: 20px;
}

.app-sidebar-notes {
  margin-top: 50px;
  margin: 10px 5px 5px 5px;
}

.app-sidebar-note {
  display: flex;
  align-items: center;
  transition: 0.3s;
  margin-top: 7px;
  border-radius: 3px;
}

.app-sidebar-note:hover {
  background-color: #95cec2;
  cursor: pointer;
}


.app-sidebar-note p, .app-sidebar-note-add  {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 5px 5px 5px 5px;
}
.app-sidebar-note.active {
  background-color: #95cec2;
  border-radius: 3px;
  transform: translateX(5px);
}

.App {
  display: flex;
}


.app-body {
  float: right;
}

.app-body {
  margin-left: 100px;
  margin-top: 60px;
}

.app-body-title textarea{
  height: 62px;
  width: 80vw;
  font-size: 32px;
  text-decoration: none;
  border: 1px white solid;
  border-radius: 10px;
}

.app-body-markdown textarea{
  width: 80vw;
  margin-top: 20px;
  height: auto;
  resize: none;
  height: 80vh;
  border: none;
  font-size: 16px;
}

.scroll::-webkit-scrollbar {
  display: none;
}

*:focus {
  outline: none;
}

::selection {
  background: #CBE4DE;;
}